@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-primary: #0039cf;
}

@layer utilities {
  .mouse::before {
    content: "";
    @apply absolute w-[12px] h-[12px] left-1/2 top-[10px] bg-white rounded-full opacity-100;
    transform: translateX(-50%);
    animation: wheel 2s infinite;
  }

  @keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }
}
::-webkit-scrollbar {
  display: none;
}
